{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Document</title>
</head>

<style>
   .how{
    margin: 1rem;
   }
    
    .optio1{
        display: flex;
        gap: 1rem;
    }
    .option2{
        display: flex;
        gap: 1rem;
    }

    .link{
        height: 21rem;
    }
</style>
<body>

      <div class="nav navbar-expand-lg navbar-light bg-light">
        <div class="logo" style="padding-left: 1rem;">
            <span class="material-symbols-outlined">mic</span>
            <a> VoiceVerify</a>
        </div>
        
        <div class="ul" style="padding-right: 3rem;">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>

                <li><a href="{% url 'about' %}">How it Works?</a></li>
                
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="how">
        <h1 style="text-align: center;">🔍 How It Works?</h1>
        <h3>1. Upload or Link Your Audio</h3>
        <h5>We offer two options for submitting your audio:</h5>
        <div class="optio1">
            <div class="card">
                <div class="card-body">
                    <h1>✅ Option 1: Upload an Audio File</h1>
                    <p>You can directly upload your audio file using the form.There is no limit — upload as many files as you like.</p>
                    <img src="{% static 'image_card/e5a1fb89-1538-4995-8cde-843248a6d0a4.jfif' %}" alt="" class="img-fluid">
                    <h3>✅ Option 1.1:You Can Trim It on The Specific voices that you to Identify</h3>
                    <img src="{% static 'image_card/cbf6fa26-1d4b-4ffb-b3ba-b54480552552 (1).jfif' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="card link">
                <div class="card-body">
                    <h1>✅ Option 2: Submit an Audio Link</h1>
                    <p>Paste the URL to your audio content into the provided form field.</p>
                    <img src="{% static 'image_card/1175db71-53f3-4a68-84fe-8de75f9a2789.jfif' %}" alt="" class="img-fluid">
                    <br>
                    
                </div>
            </div>
        </div>
        <br>
        <h1>2. Submit for Analysis</h1>
            <p>After uploading your file or submitting the link, click Submit. <br> Our system will analyze the audio and predict whether it was generated by an AI or a human voice.</p>
        <div class="option2">
    
            <div class="card">
                <div class="card-body">
                    <h5>Human Generated Voice</h5>
                    <img src="{% static 'image_card/3f852039-ee02-4d32-bf4a-fb79b607808e.jfif' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="card">
                <div class="card-body">
                    <h5>Ai Generated Voice</h5>
                    <img src="{% static 'image_card/8498b968-9d92-4160-b64b-3b93cdc270e1.jfif' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>
</html>